
<div class="menu-desktop">
    <ul class="main-menu">
        <li class="">
            <a href="/">Home</a>
        </li>

        <li class="">
            <a href="/product">Shop</a>
        </li>

        <li class="label1 " data-label1="hot">
            <a href="/Features">Features</a>
        </li>

        <li>
            <a href="/blog">Blog</a>
        </li>

        <li>
            <a href="/about">About</a>
        </li>

        <li>
            <a href="contact">Contact</a>
        </li>
    </ul>
</div>

<script src="https://code.jquery.com/jquery-3.3.1.js">
</script>

<script type="text/javascript">
    //$(document).ready(function () {
    //    $('li').on('click', function () {
    //        $(this).sliblings().removeClass('active-menu');
    //        $(this).addClass('active-menu')
    //    })
    //});
    $(document).on('click', 'ul li', function () {
        $(this).addClass('active-menu').siblings().removeClass('active-menu');
    });
    //$('main-menu').on('click', 'li', function () {
    //    $('.main-menu li').removeClass('active-menu');
    //    $(this).addClass('active-menu');
    //});
</script>