
<div class="menu-desktop">
    <ul class="main-menu">
        <li class="active-menu">
            <a href="/">Home</a>
        </li>

        <li>
            <a href="/product">Shop</a>
        </li>

        <li class="label1" data-label1="hot">
            <a href="/Features">Features</a>
        </li>

        <li>
            <a href="/blog">Blog</a>
        </li>

        <li>
            <a href="/about">About</a>
        </li>

        <li>
            <a href="contact">Contact</a>
        </li>
    </ul>
</div>
